@page "/fetchdata"

@using solutionists_blazor.Data
@inject IProductBusiness _productBusiness

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (_products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Product[] _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await _productBusiness.GetAllProducts();
    }

}
