@page "/"

<h1>Hello Solutionists</h1>

<p>Welcome to my app. This randomly generates products 
    I decided to use server side blazor for this project. The server will create and send an HTML to the client. The communication is handled using SignalR and handled entrely by the framework.</p>

<p>ProductBusiness is used to return a list of Products. This class uses ProductProvider to talk to the database (Randomly generated list here) and get a list of products. The data is different every time because it is a randomly genarated list.</p>


